<div id="background" class="login-theme">
	<form [formGroup]="signupBandForm" (ngSubmit)="signupBandForm.valid && signupBand()">
		<mat-horizontal-stepper linear #stepper>
			<mat-step label="About">
				<div class="stepper-content">
					<h1>Tell us about your band</h1>
					<mat-form-field>
						<input matInput placeholder="What is your bands name?" formControlName="name">
					    <mat-error *ngIf="signupBandForm.controls.name.errors?.required">
					      	A name is <strong>required</strong>
					    </mat-error>
					</mat-form-field>
					<mat-form-field>
						<textarea matInput placeholder="What should venues to know about your band?" formControlName="description" matTextareaAutosize matAutosizeMinRows=5 ></textarea>
						<mat-error *ngIf="signupBandForm.controls.description.errors?.required">
					      	A description is <strong>required</strong>
					    </mat-error>
					</mat-form-field>
					<div class="stepper-buttons">
						<button mat-flat-button type="button" color="accent" [routerLink]="['/signup']">Back</button>
						<button mat-flat-button matStepperNext color="accent" type="button" [disabled]="signupBandForm.controls.description.errors && signupBandForm.controls.address.errors">Next</button>
					</div>
				</div>
			</mat-step>
			<mat-step label="Location">
				<h1>Next we need some basic location info</h1>
				<div class="stepper-content">
					<mat-form-field>
						<input matInput placeholder="Where do you live?" type="address" formControlName="address">
					    <mat-error *ngIf="signupBandForm.controls.address.errors?.required">
					      	An address is <strong>required</strong>
					    </mat-error>
					</mat-form-field>
					<mat-form-field>
					  <mat-select disableOptionCentering placeholder="How far can you travel for a gig?" [(value)]="selected">
					    <mat-option value="">None</mat-option>
					    <mat-option value="5">5mi</mat-option>
					    <mat-option value="10">10mi</mat-option>
					    <mat-option value="15">15mi</mat-option>
	   				    <mat-option value="20">20mi</mat-option>
	   				    <mat-option value="25">25mi</mat-option>
	   				    <mat-option value="30">30mi</mat-option>
	   				    <mat-option value="35">35mi</mat-option>
	   				    <mat-option value="40">40mi</mat-option>
	   				    <mat-option value="45">45mi</mat-option>
	   				    <mat-option value="50">50mi</mat-option>
					  </mat-select>
					</mat-form-field>
					<div class="stepper-buttons">
						<button mat-flat-button matStepperPrevious color="accent" type="button">Back</button>
		        		<button mat-flat-button matStepperNext color="accent" type="button" [disabled]="signupBandForm.controls.address.errors">Next</button>
		        	</div>
	        	</div>
			</mat-step>
			<mat-step label="Music">
				<h1>Select some music samples to send to venues</h1>
				<div class="stepper-buttons">
					<button mat-flat-button matStepperPrevious color="accent" type="button">Back</button>
	        		<button mat-flat-button matStepperNext color="accent" type="button">Next</button>
	        	</div>
	        </mat-step>
			<mat-step label="Account">
				<h1>Finally create your account</h1>
				<div class="stepper-content">
					<mat-form-field>
						<input matInput placeholder="Email" formControlName="email">
						<mat-error *ngIf="signupBandForm.controls.email.errors?.email && !signupBandForm.controls.email.errors?.required">
					      	Invalid email address
					    </mat-error>
					    <mat-error *ngIf="signupBandForm.controls.email.errors?.required">
					      	Email is <strong>required</strong>
					    </mat-error>
					</mat-form-field>
					<mat-form-field>
						<input matInput placeholder="Password" type="password" formControlName="password">
					    <mat-error *ngIf="signupBandForm.controls.password.errors?.required">
					      	Password is <strong>required</strong>
					    </mat-error>
					</mat-form-field>
					<div class="stepper-buttons">
						<button mat-flat-button matStepperPrevious color="accent"type="button">Back</button>
		        		<button mat-flat-button matStepperNext color="accent" [disabled]="!signupBandForm.valid">Sign Up</button>
		        	</div>
	        	</div>
			</mat-step>
		</mat-horizontal-stepper>
	</form>
</div>
