<div id="background" class="login-theme">
  <form [formGroup]="signupBandForm" (ngSubmit)="signupBandForm.valid && signupBand()">
    <mat-horizontal-stepper [@.disabled]="true" linear #stepper>
      <mat-step>
        <div class="stepper-content">
          <h1>Sign-Up Information</h1>
          <mat-form-field>
            <input matInput placeholder="What is your bands name?" formControlName="name">
            <mat-error *ngIf="signupBandForm.controls.name.errors?.required">
              A name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="What else should venues know?" formControlName="description"
              matTextareaAutosize maxlength="1000" matAutosizeMaxRows=6></textarea>
            <mat-hint align="end">{{signupBandForm.controls.description.value.length}} / 1000</mat-hint>
            <mat-error *ngIf="signupBandForm.controls.description.errors?.required">
              A description is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="signupBandForm.controls.description.errors?.maxlength">
              Your description is too long
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select disableOptionCentering placeholder="Select a Spotify playlist" formControlName="playlist">
              <mat-option *ngFor="let playlist of playlists" value="{{playlist.TrackHref}}">{{playlist.Name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="signupBandForm.controls.playlist.errors?.required">
              A playlist is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput #postalCode maxlength="5" placeholder="What is you zipcode?" formControlName="zip">
            <mat-hint align="end">{{signupBandForm.controls.zip.value.length}} / 5</mat-hint>
            <mat-error *ngIf="signupBandForm.controls.zip.errors?.required">
              A zip code is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select disableOptionCentering placeholder="How far can you travel for a gig (mi)?" formControlName="radius">
              <mat-option value="5">5 mi.</mat-option>
              <mat-option value="10">10 mi.</mat-option>
              <mat-option value="20">25 mi.</mat-option>
              <mat-option value="50">50 mi.</mat-option>
              <mat-option value="75">75 mi.</mat-option>
              <mat-option value="100">100 mi.</mat-option>
              <mat-option value="150">150 mi.</mat-option>
              <mat-option value="200">200 mi.</mat-option>
              <mat-option value="">Anywhere</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="survey-button" mat-flat-button matStepperNext color="accent" type="button" [disabled]="signupBandForm.controls.name.errors || signupBandForm.controls.description.errors || signupBandForm.controls.playlist.errors || signupBandForm.controls.zip.errors">
            Next
          </button>
        </div>
      </mat-step>
      <mat-step>
        <div class="stepper-content">
          <h1>Choose a Profile Picture</h1>
          <div class="picture-upload-field">
            <image-upload formControlName="profileImage"></image-upload>
            <mat-error *ngIf="signupBandForm.controls.profileImage.errors?.needImage">
              A profile image is <strong>required</strong> to be an <strong>image</strong>
            </mat-error>
          </div>
          <button class="survey-button" mat-flat-button matStepperNext color="accent" type="button" [disabled]="signupBandForm.controls.profileImage.errors">Next</button>
        </div>
      </mat-step>
      <mat-step>
        <div class="stepper-content">
          <h1>Create your account</h1>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error
              *ngIf="signupBandForm.controls.email.errors?.email && !signupBandForm.controls.email.errors?.required">
              Invalid email address
            </mat-error>
            <mat-error *ngIf="signupBandForm.controls.email.errors?.required">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error *ngIf="signupBandForm.controls.password.errors?.required">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button class="survey-button" mat-flat-button matStepperNext color="accent" type="submit" [disabled]="!signupBandForm.valid">
            <div *ngIf="!loading">Next</div>
            <div class="loader" *ngIf="loading"></div>
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
