mat-toolbar {
	color: white !important;
	/* position: fixed; */
	top: 0;
	z-index: 100;
	padding: 10px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: baseline;
	width: 100%;
}

h1 {
	line-height: 40px;
	margin-bottom: 0;
	width: 70%;
	text-align: center;
	white-space: nowrap;
 	overflow: hidden;
  	text-overflow: ellipsis;
}

mat-icon {
	color: white;
	font-size: 30px;
}