<mat-toolbar color="primary">
	<div class="header">
		<button *ngIf="!headerVals.iconStart" mat-icon-button color="accent" [disabled]="true" >
			<mat-icon></mat-icon>
		</button>
		<button mat-icon-button [routerLink]="headerVals.startRouterlink" color="accent">
			<mat-icon>{{headerVals.iconStart}}</mat-icon>
		</button>
		<h1>{{headerVals.title}}</h1>
		<button mat-icon-button [routerLink]="headerVals.endRouterlink" color="accent">
			<mat-icon>{{headerVals.iconEnd}}</mat-icon>
		</button>
		<button *ngIf="!headerVals.iconEnd" mat-icon-button color="accent" [disabled]="true" >
			<mat-icon></mat-icon>
		</button>
	</div>
</mat-toolbar>