<mat-toolbar color="primary">
	<div class="header">
		<ng-template [ngIf]="this.router.url == '/browse'">
			<button mat-icon-button [routerLink]="['/messages']" color="accent" [disabled]="true" >
				<mat-icon>forum</mat-icon>
			</button>
			<h1>Browse</h1>
			<button mat-icon-button [routerLink]="['/profile', 'band', id]" color="accent">
				<mat-icon>person</mat-icon>
			</button>
		</ng-template>
		<ng-template [ngIf]="this.router.url == '/messages'">
			<button mat-icon-button color="accent" [disabled]="true" >
				<mat-icon></mat-icon>
			</button>
			<h1>Messages</h1>
			<button mat-icon-button [routerLink]="['/browse']" color="accent">
				<mat-icon>list</mat-icon>
			</button>
		</ng-template>
		<ng-template [ngIf]="this.router.url == '/profile/settings'">
			<button mat-icon-button [routerLink]="['/profile', 'band', id]" color="accent">
				<mat-icon>person</mat-icon>
			</button>
			<h1>Settings</h1>
			<button mat-icon-button color="accent" [disabled]="true" >
				<mat-icon></mat-icon>
			</button>
		</ng-template>
		<ng-template [ngIf]="this.router.url == '/profile/settings/account'">
			<button mat-icon-button [routerLink]="['/profile', 'settings']" color="accent">
				<mat-icon>arrow_back_ios</mat-icon>
			</button>
			<h1>Account</h1>
			<button mat-icon-button color="accent" [disabled]="true" >
				<mat-icon></mat-icon>
			</button>
		</ng-template>
		<ng-template [ngIf]="this.router.url == '/profile/settings/notifications'">
			<button mat-icon-button [routerLink]="['/profile', 'settings']" color="accent">
				<mat-icon>arrow_back_ios</mat-icon>
			</button>
			<h1>Notifications</h1>
			<button mat-icon-button color="accent" [disabled]="true" >
				<mat-icon></mat-icon>
			</button>
		</ng-template>
		<ng-template [ngIf]="view && this.userType === 'band'">
			<button mat-icon-button (click)="verified()" color="accent">
				<mat-icon>list</mat-icon>
			</button>
			<h1>Profile</h1>
			<button mat-icon-button [routerLink]="['/profile/settings']" color="accent">
				<mat-icon>settings</mat-icon>
			</button>
		</ng-template>
		<ng-template [ngIf]="view && this.userType === 'venue'">
				<button mat-icon-button (click)="verified()" color="accent">
					<mat-icon>forum</mat-icon>
				</button>
				<h1>Profile</h1>
				<button mat-icon-button [routerLink]="['/profile/settings']" color="accent">
					<mat-icon>settings</mat-icon>
				</button>
			</ng-template>
		<ng-template [ngIf]="!view && this.userType === 'venue'">
			<button mat-icon-button color="accent" [routerLink]="['/browse']">
				<mat-icon>list</mat-icon>
			</button>
			<h1>{{profile?.ProfileName}}</h1>
			<button mat-icon-button color="accent" [disabled]="true" >
				<mat-icon></mat-icon>
			</button>
		</ng-template>
		<ng-template [ngIf]="!view && this.userType === 'band'">
			<button mat-icon-button color="accent" [routerLink]="['/messages']">
				<mat-icon>list</mat-icon>
			</button>
			<h1>{{profile?.ProfileName}}</h1>
			<button mat-icon-button color="accent" [disabled]="true" >
				<mat-icon></mat-icon>
			</button>
		</ng-template>
	</div>
</mat-toolbar>