<mat-toolbar color="primary">
	<ng-template [ngIf]="this.router.url == '/browse'">
		<button mat-icon-button [routerLink]="['/messages']" color="accent" [disabled]="true" >
    		<mat-icon>forum</mat-icon>
  		</button>
		<h1>Browse</h1>
		<button mat-icon-button [routerLink]="['/profile', 'band', id]" color="accent">
    		<mat-icon>person</mat-icon>
  		</button>
	</ng-template>
	<ng-template [ngIf]="this.router.url == '/messages'">
		<button mat-icon-button color="accent" [disabled]="true" >
    		<mat-icon></mat-icon>
  		</button>
		<h1>Messages</h1>
		<button mat-icon-button [routerLink]="['/browse']" color="accent">
    		<mat-icon>list</mat-icon>
  		</button>
	</ng-template>
	<ng-template [ngIf]="this.router.url == '/profile/settings'">
		<button mat-icon-button [routerLink]="['/profile', 'band', id]" color="accent">
    		<mat-icon>person</mat-icon>
  		</button>
		<h1>Settings</h1>
		<button mat-icon-button color="accent" (click)="logout()">
    		<mat-icon>power_settings_new</mat-icon>
  		</button>
	</ng-template>
	<ng-template [ngIf]="this.router.url == userProfileUrl">
		<button mat-icon-button (click)="verified()" color="accent">
    		<mat-icon>list</mat-icon>
  		</button>
		<h1>Profile</h1>
		<button mat-icon-button [routerLink]="['/profile/settings']" color="accent">
    		<mat-icon>settings</mat-icon>
  		</button>
	</ng-template>
	<ng-template [ngIf]="this.router.url.match(viewProfileUrl) != null && this.router.url != userProfileUrl && this.router.url != '/profile/settings'">
		<button mat-icon-button color="accent" [routerLink]="['/browse']">
    		<mat-icon>list</mat-icon>
  		</button>
		<h1>{{ Name }} Profile</h1>
		<button mat-icon-button color="accent" [disabled]="true" >
    		<mat-icon></mat-icon>
  		</button>
	</ng-template>
</mat-toolbar>