<div id="background" class="login-theme">
  <form [formGroup]="signupVenueForm" (ngSubmit)="signupVenueForm.valid && signupVenue()">
    <mat-horizontal-stepper [@.disabled]="true" linear #stepper>
      <mat-step>
        <div class="stepper-content">
          <h1>Sign-Up Information</h1>
          <mat-form-field>
            <input matInput placeholder="What is your venues name?" formControlName="name">
            <mat-error *ngIf="signupVenueForm.controls.name.errors?.required">
              A name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="What else should bands know?" formControlName="description" matTextareaAutosize matAutosizeMaxRows=3></textarea>
            <mat-hint align="end">{{signupVenueForm.controls.description.value.length}} / 1000</mat-hint>
            <mat-error *ngIf="signupVenueForm.controls.description.errors?.required">
              A description is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address" type="address" formControlName="address">
            <mat-error *ngIf="signupVenueForm.controls.address.errors?.required">
              An address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="City" type="address" formControlName="city">
            <mat-error *ngIf="signupVenueForm.controls.address.errors?.required">
              A city is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="State" type="address" formControlName="state">
            <mat-error *ngIf="signupVenueForm.controls.address.errors?.required">
              A state is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Zip Code" type="zip" formControlName="zip">
            <mat-error *ngIf="signupVenueForm.controls.address.errors?.required">
              A zip code is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button class="survey-button" mat-flat-button matStepperNext color="accent" type="button" [disabled]="signupVenueForm.controls.name.errors || signupVenueForm.controls.description.errors || signupVenueForm.controls.address.errors || signupVenueForm.controls.city.errors || signupVenueForm.controls.state.errors || signupVenueForm.controls.zip.errors">Next</button>
        </div>
      </mat-step>
      <mat-step>
        <div class="stepper-content">
          <h1>Choose a Profile Picture</h1>
          <div class="picture-upload-field">
            <image-upload formControlName="profileImage"></image-upload>
            <mat-error *ngIf="signupVenueForm.controls.profileImage.errors?.needImage">
              A profile image is <strong>required</strong> to be an <strong>image</strong>
            </mat-error>
          </div>
          <button class="survey-button" mat-flat-button matStepperNext color="accent" type="button" [disabled]="signupVenueForm.controls.profileImage.errors">Next</button>
        </div>
      </mat-step>
      <mat-step>
        <div class="stepper-content">
          <h1>What equipment can you provide to bands?</h1>
          <div class="checkbox-align" *ngFor="let equip of equipment | async">
            <mat-checkbox color="primary" (change)="select(equip)" labelPosition="before">{{equip.Name}}</mat-checkbox>
          </div>
          <button class="survey-button" mat-flat-button matStepperNext color="accent" type="button">Next</button>
        </div>
      </mat-step>
      <mat-step>
        <div class="stepper-content">
          <h1>Create your account</h1>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error
              *ngIf="signupVenueForm.controls.email.errors?.email && !signupVenueForm.controls.email.errors?.required">
              Invalid email address
            </mat-error>
            <mat-error *ngIf="signupVenueForm.controls.email.errors?.required">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error *ngIf="signupVenueForm.controls.password.errors?.required">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button class="survey-button" mat-flat-button color="accent" type="submit" [disabled]="!signupVenueForm.valid">Next</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
