#background {
	width: 100%;
	height: 100%;
	background: #00C853;
	color: white;
	font-size: 18px;
}

mat-horizontal-stepper {
	background-color: #00C853 !important;
}

.stepper-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

mat-form-field {
	width: 90%;
	margin: 10px;
}

button {
	font-size: 18px;
	margin: 20px;
	color: white !important;
}

button:disabled {
	background: #666666 !important;
	color: #8c8c8c !important;
}

.stepper-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	background: #00C853;
}

h1 {
	text-align: left;
	margin-bottom: 10px;
	font-size: 25px;
	width: 100%;
}

.checkbox-align {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

mat-checkbox {
	padding-top: 20px;
	font-size: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
}