$app-primary:     mat-palette($mat-green, A700);
$app-accent:      mat-palette($mat-blue-grey, 500);
$app-warn:        mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
