$login-primary:      mat-palette($mat-grey, 50);
$login-accent:     mat-palette($mat-blue-grey, 400);
$login-warn:        mat-palette($mat-red, 500);

$login-theme: mat-dark-theme($login-primary, $login-accent, $login-warn);