@import '~@angular/material/theming';
@include mat-core();

//For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pitch-app-primary: mat-palette($mat-green, A700);
$pitch-app-accent:  mat-palette($mat-indigo);

$pitch-app-warn:    mat-palette($mat-red);

$pitch-app-theme: mat-light-theme($pitch-app-primary, $pitch-app-accent, $pitch-app-warn);

@include angular-material-theme($pitch-app-theme);