<h1 mat-dialog-title>Forgot Password</h1>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && send()">
	<mat-form-field>
		<input matInput placeholder="Email" formControlName="email" cdkFocusInitial>
		<mat-error *ngIf="forgotPasswordForm.controls.email.errors?.email && !forgotPasswordForm.controls.email.errors?.required">
	      	Invalid email address
	    </mat-error>
	    <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.required">
	      	Email is <strong>required</strong>
	    </mat-error>
	</mat-form-field>
	<button mat-flat-button color="accent" [mat-dialog-close] type="button">Cancel</button>
	<button id="submitForgotPassword" mat-flat-button color="primary" type="submit">Send Reset Link</button>
</form>