mat-card {
	background: white;
	font-size: 18px;
}

mat-form-field {
	width: 90%;
}

button {
	margin-top: 20px;
	font-size: 18px;
	color: white !important;
}

#submitForgotPassword {
	float: right;
}

.mat-dialog-title {
	text-align: center;
	margin: 0;
}