mat-card {
	background: white;
	font-size: 18px;
}

mat-form-field {
	width: 90%;
}

button {
	font-size: 18px;
}

#buttons {
	height: 40px;
}

.mat-dialog-title {
	text-align: center;
	margin: 0;
}

#closeForgotPassword {
	position: absolute;
	left: 16px;
}

#submitForgotPassword {
	position: absolute;
	right: 16px;
}