<mat-card class="app-theme">
<h1 mat-dialog-title>Forgot Password</h1>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && send()">
	<mat-form-field>
		<input matInput placeholder="Email" formControlName="email">
		<mat-error *ngIf="forgotPasswordForm.controls.email.errors?.email && !forgotPasswordForm.controls.email.errors?.required">
	      	Invalid email address
	    </mat-error>
	    <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.required">
	      	Email is <strong>required</strong>
	    </mat-error>
	</mat-form-field>
	<div id="buttons">
		<button id="closeForgotPassword" mat-raised-button color="primary" [mat-dialog-close] type="button">Cancel</button>
		<button id="submitForgotPassword" mat-raised-button color="primary" type="submit" cdkFocusInitial>Send Email</button>
	</div>
</form>
</mat-card>