<h1 mat-dialog-title>Forgot Password</h1>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && send()">
	<mat-form-field>
		<input matInput placeholder="Email" formControlName="email">
		<mat-error *ngIf="forgotPasswordForm.controls.email.errors?.email && !forgotPasswordForm.controls.email.errors?.required">
	      	Invalid email address
	    </mat-error>
	    <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.required">
	      	Email is <strong>required</strong>
	    </mat-error>
	</mat-form-field>
	<mat-grid-list cols="2" rowHeight="50px">
		<mat-grid-tile>
  			<button id="closeForgotPassword" mat-raised-button color="primary" [mat-dialog-close] type="button">Cancel</button>
  		</mat-grid-tile>
  		<mat-grid-tile>
  			<button mat-raised-button color="primary" type="submit" cdkFocusInitial>Send Reset Link</button>
  		</mat-grid-tile>
  	</mat-grid-list>
</form>