mat-form-field {
	width: 90%;
	margin: 5px;
}

mat-form-field.timeEntry {
	width: 3em;
	margin: 5px;
}

mat-form-field.timeEntryWide {
	width: 5em;
	margin: 5px;
}

.content {
	padding: 2.5%;
	padding-top: 66px;
}

#create-event-button {
	position: fixed;
	width: calc(100% - 20px);
  	bottom: 10px;
  	left: 10px;
	height: 35px;
}

.eventFormGroup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 5px;
	width: 90%;
	min-height: 60px;
}
.warningMessage {
	color: #FFDE03FF;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
    align-items: center;
}

.warningMessage > strong {
	/* -webkit-text-stroke: .05px black; */
	display: inherit;
}