mat-form-field {
	width: 90%;
	margin: 5px;
}

mat-form-field.timeEntry {
	width: 3em;
	margin: 5px;
}

mat-form-field.timeEntryWide {
	width: 5em;
	margin: 5px;
}

form {
	flex-direction: column;
	align-items: center;
	display: inline-flex;
	width: 100%;
}

.content {
	margin: 70px 0px 0px 0px;
	width: 95%;
	margin-left:2.5%;
	display: flexbox;
	flex-direction: column;
	align-items: center;
}

.eventDate {
    background: #00c85359;
	border-radius: 100%;
}

.timeGroup {
	display: flex;
	flex-direction: column;
    align-content: space-around;
	align-self: flex-start;
	padding-top: 10px;
	padding-left: 5%;
}

.timeRow {
	display: inline-flex;
	flex-direction: row;
    align-content: space-around;
	align-items: left;
	padding-top: 10px;
}

.timeLabel {
	position: absolute;
	padding-left: calc(1em /3);
	pointer-events: none;
	width: 100%;
	text-overflow: clip;
	overflow: hidden;
	color: #0000008A
}

.warningMessage {
	color: #FFDE03FF;
	display: inline-flex;
	flex-direction: row;
	align-content: space-around;
    align-items: center;
}

.warningMessage > strong {
	/* -webkit-text-stroke: .05px black; */
	display: inherit;
}