<h1 mat-dialog-title>{{data.band.ProfileName}}</h1>
<div mat-dialog-content>
    <mat-card>
        <mat-card-title>Would like to perform at:</mat-card-title>
        <mat-card-content>
            <div *ngFor="let event of data.convo.pitch.events">{{event.EventName}}</div>
        </mat-card-content>
    </mat-card>
    <mat-card>   
        <mat-card-title>Message:</mat-card-title>
        <mat-card-content>{{data.convo.pitch?.message}}</mat-card-content>
    </mat-card>
    <mat-card class="slide-container">
        <mat-card-content>
            <div class="slide-image" *ngFor="let image of data.band.ProfileImageUrls; let i = index">
            <img class="slide-picture" [src]="image" (load)="jumpToSlide(0)">
            <div class="slide-counter">{{i+1}} / {{data.band.ProfileImageUrls.length}}</div>
            </div>
            <a class="slide-prev" (click)="changeSlideBy(-1)">&#10094;</a>
            <a class="slide-next" (click)="changeSlideBy(1)">&#10095;</a>
        </mat-card-content>
    </mat-card>
    <div class="track" *ngFor="let track of data.convo.pitch.tracks">
        <div>{{track.Name}}:</div>
        <audio controls>
            <source src="{{track.Preview}}" type="audio/ogg">
        </audio>
     </div>
</div>
<button id="decline" mat-flat-button color="primary" (click)="decline()" [mat-dialog-close] type="button">Decline</button>
<button id="accept" mat-flat-button color="primary" (click)="accept()" type="submit">Accept</button>
