#messages_container {
	padding: 10px;
	padding-top: 66px;
  }

mat-list {
	margin: 0;
	/* margin-top: 20px; */
	/* width: calc(95% - 32px); */
	margin-left:2.5%;
}

.bold {
	font-weight: bold !important;
}

mat-list-item {
	outline: none;
}

.unopened{
	font-weight: bolder !important;
}

button {
	font-size: 12px;
	color: white !important;
}

.mat-flat-button {
	padding: 0px !important;
}

.no_messages {
	text-align: center;
}