<app-header></app-header>
<mat-list>
  <mat-list-item>
    <img matListAvatar src={{imageSrc}}>
    <h3 matLine> {{interlocutor}} </h3>
    <p matLine>
      <span> sender: </span>
      <span > last message sent </span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <img matListAvatar src="https://scontent.fphl2-1.fna.fbcdn.net/v/t1.0-9/16196015_10154888128487744_6901111466535510271_n.png?_nc_cat=103&_nc_ht=scontent.fphl2-1.fna&oh=ee2b450ecab420965220c04897ab03da&oe=5D43E7E9">
    <h3 matLine> Interlocutor </h3>
    <p matLine>
      <span> sender: </span>
      <span > last message sent </span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <img matListAvatar src="https://scontent.fphl2-1.fna.fbcdn.net/v/t1.0-9/16196015_10154888128487744_6901111466535510271_n.png?_nc_cat=103&_nc_ht=scontent.fphl2-1.fna&oh=ee2b450ecab420965220c04897ab03da&oe=5D43E7E9">
    <h3 matLine> Interlocutor </h3>
    <p matLine>
      <span> sender: </span>
      <span > last message sent </span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <img matListAvatar src="https://scontent.fphl2-1.fna.fbcdn.net/v/t1.0-9/16196015_10154888128487744_6901111466535510271_n.png?_nc_cat=103&_nc_ht=scontent.fphl2-1.fna&oh=ee2b450ecab420965220c04897ab03da&oe=5D43E7E9">
    <h3 matLine> Interlocutor </h3>
    <p matLine>
      <span> sender: </span>
      <span > last message sent </span>
    </p>
  </mat-list-item>
</mat-list>
