<app-header [profile]="profile" [userType]="userType" [view]="view" [seeView]="seeView"></app-header>
<div id="profile-container">
  <mat-card class="slide-container">
    <mat-card-content>
      <div class="slide-image" *ngFor="let image of profileImageUrls; let i = index">
        <img class="slide-picture" [src]="image" (load)="jumpToSlide(0)">
        <div class="slide-counter">{{i+1}} / {{profile?.ProfileImageUrls.length}}</div>
        <div *ngIf="profileForm.enabled" id="picture-icons">
          <mat-icon id="photo-button" (click)="addPicture()">add_photo_alternate</mat-icon>
          <mat-icon id="delete-button" (click)="deletePicture(image)">delete</mat-icon>
          <mat-icon id="profile-picture" (click)="makeProfilePicture(image)">account_circle</mat-icon>
        </div>
      </div>
      <a class="slide-prev" (click)="changeSlideBy(-1)">&#10094;</a>
      <a class="slide-next" (click)="changeSlideBy(1)">&#10095;</a>
    </mat-card-content>
  </mat-card>
  <form [formGroup]="profileForm">
    <mat-card>
      <mat-card-title>Reviews ({{profile?.ProfileRatingCount}})</mat-card-title>
      <mat-card-subtitle>Rating: {{profile?.ProfileRating | number}}</mat-card-subtitle>
      <button *ngIf="!view && !seeView" mat-stroked-button id="review" color="accent" (click)="reviewModal()" type="button">Review</button>
      <mat-card-content>
        <mat-card class="review-card" *ngFor="let review of profile?.SubCollection">
          <mat-card-title>{{review.ReviewCreatorName}}</mat-card-title>
          <mat-card-subtitle>
              <mat-icon class="star-image">star</mat-icon>
              {{review.ReviewRating}}</mat-card-subtitle>
          <mat-card-content>{{review.ReviewText}}</mat-card-content>
          <mat-card-actions>{{review.CreationDate.toLocaleDateString("en-US")}}</mat-card-actions>
        </mat-card>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="view">
      <mat-card-title>About</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <textarea matInput placeholder="About" matTextareaAutosize matAutosizeMaxRows=6 formControlName="biography"></textarea>
          <mat-error *ngIf="profileForm.controls.biography.errors?.required">
            About is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!view">
      <mat-card-title>About</mat-card-title>
      <mat-card-content>{{ profile?.ProfileBiography}}</mat-card-content>
    </mat-card>
    <mat-card *ngIf="userType == 'venue' && view">
      <mat-card-title>Address</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="address">
          <mat-error *ngIf="profileForm.controls.address.errors?.required">
            Address is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="userType == 'venue' && !view">
      <mat-card-title>Address</mat-card-title>
      <mat-card-content>{{ profile?.ProfileAddress}}</mat-card-content>
    </mat-card>
    <mat-card *ngIf="userType == 'band' && view">
        <mat-card-title>Zipcode</mat-card-title>
        <mat-card-content>
            <mat-form-field>
              <input matInput #postalCode maxlength="5" placeholder="Zipcode" formControlName="address">
              <mat-hint align="end">{{profileForm.controls.address.value.length}} / 5</mat-hint>
              <mat-error *ngIf="profileForm.controls.address.errors?.required">
                A zipcode is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </mat-card-content>
      </mat-card>
    <mat-card *ngIf="userType == 'band' && view">
      <mat-card-title>Playlist</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-select disableOptionCentering placeholder="Playlist" formControlName="playlist">
            <mat-option *ngFor="let playlist of playlists" value="{{playlist.TrackHref}}">{{playlist.Name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="profileForm.controls.playlist.errors?.required">
            A playlist is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="userType == 'band'">
      <mat-card-title>Tracks</mat-card-title>
      <mat-card-content>
        <div class="track" *ngFor="let track of profile?.Tracks">
          {{track.Name}}:
          <audio controls>
            <source src="{{track.Preview}}" type="audio/ogg">
          </audio>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="userType == 'venue' && view">
      <mat-card-title>Equipment</mat-card-title>
      <mat-card-content>
          <div class="checkbox" [ngClass]="{'disabled': profileForm.controls.address.disabled}" *ngFor="let equipment of equipmentList">
            {{equipment.Name}}
            <mat-checkbox color="primary" (change)="select(equipment)" formControlName="{{equipment.Name.toLowerCase().replace(' ', '_').replace(' ', '/')}}"></mat-checkbox>
          </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="userType == 'venue' && !view">
      <mat-card-title>Equipment</mat-card-title>
      <mat-card-content>
        <div class="equipment-container">
          <ng-template [ngIf]="profile?.AvailableEquipment?.length > 0" [ngIfElse]="noEquipmentTemplate">
            <div class="equipment" *ngFor="let item of profile?.AvailableEquipment">{{ item.Name }}</div>
          </ng-template>
          <ng-template #noEquipmentTemplate>
             <div> This venue provides no equipment.</div>
          </ng-template>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="userType == 'venue' && view">
      <mat-card-title>Events</mat-card-title>
      <mat-card-content>
        <ng-template [ngIf]="profile?.events?.length > 0" [ngIfElse]="noEventsTemplate">
          <ul>
            <li *ngFor="let event of profile?.events">
              {{ event.EventDateTime.toDate() | date: 'yyyy-MM-dd'}} - {{ event.EventName }}: {{ event.EventDescription}}
            </li>
          </ul>
        </ng-template>
        <ng-template #noEventsTemplate>
            <button mat-flat-button color="primary" [routerLink]="['/events/schedule']" routerLinkActive="router-link-active" >Create an event</button>
         </ng-template>
      </mat-card-content>
    </mat-card>

    <div *ngIf="view || seeView" id="profile_buttons">
      <ng-template [ngIf]="profileForm.disabled" [ngIfElse]="saveProfileTemplate">
        <button mat-raised-button color="primary" class="edit_save" (click)="editProfile()" type="button">Edit</button>
      </ng-template>
      <ng-template #saveProfileTemplate>
        <button mat-raised-button color="primary" class="edit_save" (click)="saveProfile()" type="button">Save</button>
      </ng-template>
      <button mat-raised-button color="primary" id="view" (click)="viewProfile()" type="button">View</button>
    </div>
  </form>
  
  <div id="spacer"></div>
  <button *ngIf="userType == 'venue' && (!view && !seeView)" mat-raised-button id="pitch" color="primary" (click)="pitch()" type="button">Pitch</button>
</div>
