mat-card {
	margin-top: 10px;
}

.browse-card {
  max-width: 100%;
}

.browse-header-image {
  background-size: cover;
}

.browse-star-image {
  width: 16px;
  height: 16px;
}

.browse-equipment-image {
  width: 16px;
  height: 16px;
}