<app-header></app-header>
<div id="browse_container">
<mat-card *ngFor="let card of profileCards" [routerLink]="['/profile', 'venue', card.profile_id]">
  <mat-card-header>
    <img mat-card-avatar class="browse-header-image" src="{{ card.profile_image }}"/>
    <mat-card-title> {{ card.profile_name }} </mat-card-title>
    <mat-card-subtitle>
      <mat-icon class="browse-star-image">star</mat-icon>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{card.rating | number}} ({{card.rating_count}} Ratings)<br>{{card.profile_address}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    {{ card.upcoming_event_text }}
    <div class="equipment-icons">
      <img *ngFor="let equipment of card.equipment_icons" width="20px" height="20px" [ngClass]="{'unowned': !equipment.owned}" src="{{ equipment.IconUrl }}">
    </div>
  </mat-card-actions>
</mat-card>
</div>
