mat-card {
	margin: 0;
	margin-top: 20px;
	width: calc(95% - 32px);
	margin-left:2.5%;
}

mat-card:nth-child(2) {
  margin-top: 66px;
}

mat-card:last-child {
  margin-bottom: 10px;
}

.browse-header-image {
  background-size: cover;
}

mat-card-subtitle {
  display: flex;
  align-items: center;
}

.browse-star-image {
  width: 16px;
  height: 16px;
}

mat-card-content {
  font-size: 16px;
  margin-bottom: 0;
}

mat-card-actions {
	display: flex;
	justify-content: space-between;
  align-items: center;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  font-size: 16px;
}

.equipment-icons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.unowned {
  opacity: 0.1;
}