<app-header></app-header>
<button mat-raised-button color="primary" type="button" (click)="logout()">Logout</button>
<mat-card class="browse-card" *ngFor="let card of profileCards">
  <mat-card-header>
    <img
      mat-card-avatar
      class="browse-header-image"
      src="{{ card.profile_image }}"
    />
    <mat-card-title>{{ card.profile_name }} </mat-card-title>
    <mat-card-subtitle>
      <mat-icon>star</mat-icon> {{card.rating}} ({{card.rating_count}} Ratings)
      <!-- <mat-grid-list cols="5" rowHeight="16px">
        <mat-grid-tile *ngFor="let star of card.rating">
          <img class="browse-star-image" src="{{ star.source }}" />
        </mat-grid-tile>
      </mat-grid-list> -->
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- <div>
      <mat-grid-list cols="2" rowHeight="16px">
        <mat-grid-tile class="browse-equipment-image">
          <img
            mat-card-avatar
            *ngIf="card.amplifiers_available"
            class="browse-equipment-image"
            src="{{ card.amp_image }}"
          />
        </mat-grid-tile>

        <mat-grid-tile class="browse-equipment-image">
          <img
            mat-card-avatar
            *ngIf="card.drums_available"
            class="browse-equipment-image"
            src="{{ card.drum_image }}"
          />
        </mat-grid-tile>

        <mat-grid-tile class="browse-equipment-image">
          <img
            mat-card-avatar
            *ngIf="card.guitars_available"
            class="browse-equipment-image"
            src="{{ card.guitar_image }}"
          />
        </mat-grid-tile>

        <mat-grid-tile class="browse-equipment-image">
          <img
            mat-card-avatar
            *ngIf="card.microphones_available"
            class="browse-equipment-image"
            src="{{ card.mic_image }}"
          />
        </mat-grid-tile>
      </mat-grid-list>
    </div> -->

    <p>{{ card.upcoming_event_text }}</p>
    <p>{{ card.available_equip_text }}</p>
  </mat-card-content>
  <!-- <mat-card-actions>  -->
  <!-- Todo: card actions? -->
  <!-- </mat-card-actions>  -->
</mat-card>
