mat-card {
	margin: 0;
	margin-top: 20px;
	width: calc(95% - 32px);
	margin-left:2.5%;
}

.browse-header-image {
  background-size: cover;
}

.browse-card-rating {
  display: flex; 
  line-height: 24px;
}

.browse-star-image {
  width: 16px;
  height: 16px;
}

.browse-equipment-image {
  width: 16px;
  height: 16px;
}

.browse-card-footer {
	display: flex;
	justify-content: space-between;
}