<app-header></app-header>
  <div id="settings-container">
    <form [formGroup]="settingsForm">
    <mat-card>
      <mat-card-title>Account Settings</mat-card-title>
      <mat-card-subtitle>{{userEmail}}</mat-card-subtitle>
      <button mat-stroked-button id="email_change" color="accent" (click)="changeEmail()" type="button">Edit</button>
      <mat-card-content [formGroup]="settingsForm">
        <span class="email-verification">
          <ng-template [ngIf]="verified" [ngIfElse]="unverified">
            Verified <mat-icon color="primary">check_circle</mat-icon>
          </ng-template>
          <ng-template #unverified>
            Unverified <mat-icon color="warn">cancel_circle</mat-icon>
          </ng-template>
        </span>
        <button *ngIf="!verified" mat-flat-button class="custom-fab-button no-round-top-corners" color="accent" (click)="verifyEmail()">Resend Email</button>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Notification Settings</mat-card-title>
      <mat-card-content>
        Notification settings to go here.
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="userType == band">
      <mat-card-title>Browse Settings</mat-card-title>
      <mat-card-subtitle>Zipcode: 19104</mat-card-subtitle>
      <mat-card-content>
        <mat-form-field>
          <mat-select disableOptionCentering placeholder="Venue Search Radius" formControlName="radius">
            <mat-option value="5">5mi</mat-option>
            <mat-option value="10">10mi</mat-option>
            <mat-option value="15">15mi</mat-option>
            <mat-option value="20">20mi</mat-option>
            <mat-option value="30">30mi</mat-option>
            <mat-option value="40">35mi</mat-option>
            <mat-option value="50">40mi</mat-option>
            <mat-option value="75">45mi</mat-option>
            <mat-option value="100">50mi</mat-option>
            <mat-option value="">Anywhere</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </form>
  <button mat-raised-button id="delete" color="warn" (click)="warnDelete()">Delete Account</button>
</div>
