<app-header></app-header>

<div id="settings">
	<div id="email-verification">
		<div id="verified-icon-text">
			verified:
			<ng-template [ngIf]="verified" [ngIfElse]="unverified">
				<mat-icon color="primary">check_circle</mat-icon>
			</ng-template>
			<ng-template #unverified>
				<mat-icon color="warn">cancel_circle</mat-icon>
			</ng-template>
		</div>
		<ng-template [ngIf]="!verified">
			<button mat-flat-button color="primary" (click)="verify()">Resend Email</button>
		</ng-template>
	</div>
	<button mat-raised-button (click)="consent()">Give me notifications!</button>
</div>


